* {
    transition-duration: 0.35s;
}

html {
    background-color: var(--background-color) !important;
}

.title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    background-color: var(--accent-color);
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.list {
    border-radius: 7px;
    border: 1px solid rgb(211, 211, 211);
    max-width: 85%;
    background-color: var(--background-color) !important;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.2);
}

.list-title {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 36px;
    padding: 12px;
    padding-left: 20px;
}

.input-field {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 325px;
    height: 45px;
    padding: 12px;
    font-size: 16px;
}

.add-item {
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;

}

.input-field {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--button-color) !important;
    color: var(--button-text-color)
}

.btn {
    height: 45px;
    width: 100px;
    margin-left: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.56);
}

.btn:active {
    transform: translateY(1px);
}

.list-of-items {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.list-group li{
    font-weight:300;
    font-size: 20px;
    background-color: var(--button-color) !important;
    color: var(--button-text-color)
}

.footer {
    text-align: center;
    top: auto;
    font-size: 12px;
    background-color: var(--background-color) !important;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.top-footer {
    font-weight: 600;
}

.bottom-footer {
    font-weight: 500;
}

.btn-primary {
    width: 93px;
    background-color: white !important;
    color:rgb(37, 99, 235) !important;
}

.btn-danger {
    width: 110px;
    background-color: white !important;
    color: rgb(220,53,69) !important;
}

.btn-primary:hover {
    background-color: rgb(37, 99, 235) !important;
    color:white !important;
}

.btn-danger:hover {
    background-color: rgb(220,53,69) !important;
    color:white !important;
}

.second-row {
    display: flex;
}

.btn-dark {
    margin-top: 12px;
    margin-left: 212px;
    min-width: 110px;
    transition: var(--transition-delay);
    color: var(--special-button-text-color) !important;
    background-color: var(--special-button-color) !important;
}


html {
    --accent-color: rgb(37, 99, 235);
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --button-text-color: rgb(0, 0, 0);
    --button-color: rgb(255, 255, 255);
    --border-color: rgb(211, 211, 211);
    --special-button-color: rgb(20, 22, 24);
    --special-button-text-color: white;
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color) !important;
    border-bottom: 750px solid transparent;
}

body.dark {
    --special-button-text-color: rgb(20, 22, 24);
    --background-color: rgb(9, 8, 17);
    --text-color: white;
    --button-text-color: rgb(255, 255, 255);;
    --button-color: rgb(5, 5, 8);
    --special-button-color: rgb(255, 255, 255);
    --border-color: rgb(255, 255, 255);
}
